{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block body %}
    <div class=" px-0">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="{% static 'library\images\book_banner\book_banner3.jfif' %}" class="d-block  w-100 slide"   alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class='banner_title'>Books are a uniquely portable magic.</h4>
                    {% comment %} <p>Some representative placeholder content for the first slide.</p> {% endcomment %}
                </div>
                </div>
                <div class="carousel-item">
                <img src="{% static 'library\images\book_banner\book_banner2.jfif' %}" class="d-block w-100 slide"  alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class='banner_title'>A room without books is like a body without a soul.</h4>
                    {% comment %} <p>Some representative placeholder content for the second slide.</p> {% endcomment %}
                </div>
                </div>
                <div class="carousel-item">
                <img src="{% static 'library\images\book_banner\book_banner4.jfif' %}" class="d-block w-100 slide"  alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class='banner_title'>A reader lives a thousand lives before he dies.</h4>
                    {% comment %} <p>Some representative placeholder content for the third slide.</p> {% endcomment %}
                </div>
                </div>
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        
    
    </div>

    {% comment %} Owl Carousel {% endcomment %}
    <section>
        <div class="container-fluid my-5">
            <h2 class="text-center fw-bold  display-4 mb-4 mt-4"> Popular <span class='text-danger'> Books</span> </h2>
            <br>
            <div class="row">

                <div class="owl-carousel owl-theme">
                    {% for book in popular_books %}
                    <div class="item mx-4">
                    <div class="card border-0 shadow">
                        <img src="{{book.cover.url}}" alt="" class="card-img-top ">
                        <div class="card-body" >
                            <a href="{% url 'book' book.id %}" >
                            <h4 class='text-center owl_book_name'>{{book.name}}</h4>
                            </a>

                            <div class='text-center'>
                            <span class='like_btn_bg '>
                            <a href="{% url 'liked' book.id %}" class="like_btn"> <i class="far fa-thumbs-up"></i> Like </a>
                            </span>
                            <span class="likes"> {{book.likes}}</span> 
                            </div>
                            
                        </div>
                    </div>
                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </section>

{% endblock body %}


