
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style='font-weight:800;' href="{% url 'home' %}">BookWorld</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <nav class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'delete_book_request' %}">Delete Request</a>
          </li>          
        </ul>
        
        <form method='get' action='/book_search/' class='d-flex' >
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='search' id='search'>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <span class='d-flex'>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          {% if request.user.is_authenticated %}
        
          <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome {{request.user|capfirst}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for group in request.user.groups.all %}
            <li><a class="dropdown-item" href="{% url 'profile' %}">Dashboard</a></li>
          {% if group.name == 'Admin' or  group.name == 'Author' or group.name == 'Publisher' %} 
            <li><a class="dropdown-item" href="{% url 'books' %}">Books</a></li>
            <li><a class="dropdown-item" href="{% url 'addbook_profile' %}">Add Book</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'delete_requested_books' %}">Delete Requested Books</a></li>
             {% endif %}
            {% endfor %}
            
            <li><a class="dropdown-item" href="{% url 'liked_book' %}">Liked Books</a></li>
            <li><a class="dropdown-item" href="{% url 'wishlist' %}">WishList</a></li>
            <li><a class="dropdown-item" href="#">ReadHistory</a></li>
            <li><a class="dropdown-item" href="{% url 'changepass' %}">Change Password</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>       

         
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Signup</a>
          </li>
          {% endif %}
        </ul>
        </span>

      </nav>
    </div>
  </nav>