{% extends 'base.html' %}
{% block title %}Password Reset{% endblock title %}

{% block body %}
    <div class="row mx-0 " style="min-height:61vh; margin-top:20vh;">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h2 class='mb-3'>Password Reset Form</h2>
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} <span style="color:red; font-size:12px;">{{fm.errors}}</span> <br><br>
                {% endfor %}
                <input type="submit" class='btn btn-success' value="Reset Password">
                <a href="{% url 'home' %}" class="btn btn-info"> Cancel </a>
            </form>

        </div>
        <div class="col-md-3"></div>
    </div>
    
{% endblock body %}


