
{% extends 'base.html' %}
{% block title %}Prac Page{% endblock title %}

{% block body %}
    <h2>This is Prac Page</h2>
    
   
{% endblock body %}


Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem amet reprehenderit sit quas. Error esse doloremque velit iusto, quibusdam tempora modi commodi obcaecati mollitia ad, at voluptate natus aliquid magni blanditiis, sint nam consectetur. Et magnam est magni facere autem, saepe cupiditate veniam. Quaerat laudantium earum beatae iste rerum rem ea dolorum alias expedita magnam. Tempore consectetur temporibus quidem perferendis cupiditate, labore distinctio deleniti rerum veritatis est repellendus animi omnis atque vel! Corrupti, repudiandae odio eius natus dolorem qui tempore, commodi quam ullam cum expedita repellendus explicabo aspernatur nulla nihil repellat nam saepe minus, debitis sunt doloremque. Commodi, non ratione.


