{% extends 'profile.html' %}

{% block page %}
    <h2 class='profile_page_heading'>Books</h2>
    {% if books %}

    

    <table style="width:100%" class='table book_table text-center'>
    <tr>
        <th>Id</th>
        <th>Cover</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>Status</th>
        <th>Action</th>
        <th>Details</th>

    </tr>
    
        {% for book in books %}
        <tr>
            <td>{{book.id}}</td>
            <td><img src="{{book.cover.url}}" alt="" width='170px' height='200px'></td>
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.status}}</td>
           
            <td>
            <a href="" class='btn btn-warning'>Update</a><br>
            <a href="{% url 'delete_book' book.id %}" class='btn btn-danger'>Delete</a><br>
            {% if book.status == 'Published' %}
                    <a href="{% url 'change_book_status' book.id %}" class='btn btn-warning'>Unpublished</a><br>
                {% else %}
                    <a href="{% url 'change_book_status' book.id %}" class='btn btn-success'>Published</a><br>
                {% endif %}
            </td>
            <td><a href="{% url 'book' book.id  %}" class='btn btn-info'>Details</a></td>
        </tr>
        {% endfor %}
    {% else %}
        <div class="alert alert-info">
            You Don't Add Book Yet
        </div>
    {% endif %}
    
    </table>
{% endblock page %}

